html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.hidden {
    display: none;
}

#countdown {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: x-large;
}

#game {
    max-width: 750px;
    margin: auto;
    background-color: #fca6ad;
    height: 100%;
    text-align: center;
}

#timer {
    text-align: center;
    width: 75%;
    border: 2px;
    background-color: #429ddd;
    margin: auto;
    /*padding: 10px;*/
    overflow: hidden;
    white-space: nowrap
}

#time {
    position: relative;
    top: 0;
    z-index: 1;
}